<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="regPageTrims.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leg Leaderboard</title>
</head>
<body>

<!--
TO DO

Make basic button logic (fx @click or onclick).
If needed to revert to bare Javascript: remember getdocumentonid
test outputs using the console - hopefully works.

save nameList separately? maybe
-->

<div id="vueApp">

    <!---first screen-->
    <div v-show="showFirstLeg" id="firstLeg">
        <h3 style="font-weight: bolder;">
            Is this your first time taking a leg?
        </h3>
    <button @click="go2NewUser">Yes</button>
    <button @click="go2OldUser">No</button>
    <button @click="go2Leaderboard">Show Leaderboard</button>
    </div>

    <!---old user-->
    <div v-show="showOldUser" id="OldUser">
    <div class="topBtns">
    <input v-model="name" type="text" placeholder="Type your Name">
    <button @click="addOldUser">Add to Leaderboard</button>
    </div>
    </div>

    <!---new user-->
    <div v-show="showNewUser" id="newUser">
        <input v-model="form.education" type="text" placeholder="Enter Education">
        <input v-model="form.username" type="text" placeholder="Enter Name">
        <button @click="addNewUser">Add your education and name</button>
    </div>

    <!---rdy to leg-->
    <div v-show="showConfScreen" id="confScreen">
    <h3>
        Get ready to Leg!
    </h3>
    <p>
        Speak to the bar personel to begin legging!
    </p>
    <button @click="restartFlow">( Regrets? Go back to the beginning )</button>
    </div>

    <!---leaderboard-->
    <div v-show="showLeaderboard" id="leaderboard">
    <div class="topBtns">
    </div>
        <ul class=listView>
            <li v-for="(user, i) in users" :key="i">
                <strong>{{ user.username }}</strong> <br> {{ user.education }}
            </li>
        </ul>
    <button @click="clearList">Wipe Board (not final build!)</button>
    <button @click="restartFlow">Go back</button>
    </div>
</div>


<script>

    const SUPABASE_URL = 'https://sefoaaasnyorakarqsrm.supabase.co';
    const SUPABASE_ANON_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNlZm9hYWFzbnlvcmFrYXJxc3JtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0MTE2NDYsImV4cCI6MjA4ODk4NzY0Nn0.mfGpP7xW3b5rHXFtck1ujOGvyHUbiMaWoN8vhdru8Vg'; // ← paste your anon/public key

    const headers = {
        'Content-Type': 'application/json',
        'apikey': SUPABASE_ANON_KEY,
        'Authorization': `Bearer ${SUPABASE_ANON_KEY}`,
        'Prefer': 'return=representation'
    };

    const newObj = Vue.createApp({
        data() {
            return {
                form: {username:'',education:''},
                users: [],
                showFirstLeg: true,
                showOldUser: false,
                showNewUser: false,
                showConfScreen: false,
                showLeaderboard: false,
            }
        },
        mounted() {this.fetchUsers();},
        methods: {
            go2NewUser() {this.showFirstLeg = false, this.showNewUser = true, console.log('went2new user flow')},
            async addNewUser() {const res = await fetch(`${SUPABASE_URL}/rest/v1/users`, {
                        method: 'POST',
                        headers,
                        body: JSON.stringify(this.form)
                        });
                        this.form = { username: '', education: '' };
                        await this.fetchUsers();
                        this.showNewUser = false, this.showConfScreen = true, console.log('submit user => conf')},
            async fetchUsers() {
                try {
                    const res = await fetch(`${SUPABASE_URL}/rest/v1/users?select=*&order=id.desc&limit=20`, {
                        headers
                    });
                    if (res.ok) this.users = await res.json();
                } catch (e) {
                    console.error('Failed to fetch users:', e);
                }
            },

            go2OldUser() {this.showFirstLeg = false, this.showOldUser = true, console.log('=> old user flow')},
            addOldUser() {this.nameList.push(this.name);this.name = '';this.showOldUser = false, this.showConfScreen = true, console.log('old user => conf')},
            
            go2Leaderboard() {this.showFirstLeg = false, this.showLeaderboard = true, console.log('leaderboard btn')},
            clearList() {this.nameList = [];console.log('test list cleared')},
            
            restartFlow() {this.showConfScreen = false, this.showLeaderboard = false, this.showFirstLeg = true, console.log('restarted flow')}

        }
    });
    newObj.mount('#vueApp');
</script>

</body>
</html>