<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="regPageTrims.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leg Leaderboard</title>
</head>
<body>

<!--
TO DO

Make basic button logic (fx @click or onclick).
If needed to revert to bare Javascript: remember getdocumentonid
test outputs using the console - hopefully works.

save nameList separately? maybe
-->

<div id="vueApp">

    <!---first screen-->
    <div v-show="showFirstLeg" id="firstLeg">
        <h3 style="font-weight: bolder;">
            Is this your first time taking a leg?
        </h3>
    <button @click="go2NewUser">Yes</button>
    <button @click="go2OldUser">No</button>
    <button @click="go2Leaderboard">Show Leaderboard</button>
    </div>

    <!---old user-->
    <div v-show="showOldUser" id="OldUser">
    <div class="topBtns">
    <input v-model="newName" type="text" placeholder="Type your Name">
    <button @click="addOldUser">Add to Leaderboard</button>
    </div>
    </div>

    <!---new user-->
    <div v-show="showNewUser" id="newUser">
        <input v-model="newFaculty" type="text" placeholder="Enter Faculty">
        <input v-model="newName" type="text" placeholder="Enter Name">
        <button @click="addNewUser">Add faculty and name</button>
    </div>

    <!---rdy to leg-->
    <div v-show="showConfScreen" id="confScreen">
    <h3>
        Get ready to Leg!
    </h3>
    <p>
        Speak to the bar personel to begin legging!
    </p>
    <button @click="restartFlow">( Regrets? Go back to the beginning )</button>
    </div>

    <!---leaderboard-->
    <div v-show="showLeaderboard" id="leaderboard">
    <div class="topBtns">
    </div>
        <ul class=listView>
            <li v-for="(item, i) in nameList" :key="i">{{ item }}</li>
        </ul>
    <button @click="clearList">Wipe Board (not final build!)</button>
    <button @click="restartFlow">Go back</button>
    </div>
</div>


<script>
    const newObj = Vue.createApp({
        data() {
            return {
                facultyList: [],
                newFaculty: '',
                nameList: ['GREG','JANE','LARS'],
                newName: '',
                showFirstLeg: true,
                showOldUser: false,
                showNewUser: false,
                showConfScreen: false,
                showLeaderboard: false,
            }
        },
        methods: {
            go2NewUser() {this.showFirstLeg = false, this.showNewUser = true, console.log('went2new user flow')},
            addNewUser() {this.facultyList.push(this.newFaculty), newFaculty = '', this.nameList.push(this.newName);this.newName = ''; this.showNewUser = false, this.showConfScreen = true, console.log('old user => conf' + this.facultyList + this.nameList)},
            
            go2OldUser() {this.showFirstLeg = false, this.showOldUser = true, console.log('=> old user flow')},
            addOldUser() {this.nameList.push(this.newName);this.newName = '';this.showOldUser = false, this.showConfScreen = true, console.log('old user => conf')},
            
            go2Leaderboard() {this.showFirstLeg = false, this.showLeaderboard = true, console.log('leaderboard btn')},
            clearList() {this.nameList = [];console.log('test list cleared')},
            
            restartFlow() {this.showConfScreen = false, this.showLeaderboard = false, this.showFirstLeg = true, console.log('restarted flow')}

        }
    });
    newObj.mount('#vueApp');
</script>

</body>
</html>