#vueApp {
  /* div für den gesamten Handyscreen */
  background-color: #896833;
  width: 402px;
  min-height: 800px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  /* wichtig! */
}

/* highlight links */
#vueApp::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 172px;
  height: 100%;
  background: linear-gradient(90deg, #896833 0%, #957238 12%, #ecc990 46%, #ebc78e 53%, #B38D50 75%, #956F32 91%, #896833 100%);
  filter: blur(20px);
  /* ← blur hier */
  z-index: 0;
}

/* lowlight rechts */
#vueApp::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 127px;
  height: 100%;
  background: linear-gradient(90deg, #896833 0%, #543c15 53%, #896833 100%);
  filter: blur(20px);
  /* ← blur hier */
  z-index: 0;
}

#firstLeg,
#OldUser,
#newUser,
#confScreen,
#leaderboard {
  position: relative;
  z-index: 1;
}

/*-------------------------- Opening Link from QR Code ---------------------------*/
#titleT {
  font-family: "Alex Brush", cursive;
  font-size: 64px;
  font-weight: 400;
  font-style: normal;
  color: #f9f9f9;
  margin-top: 50px;
  margin-bottom: 0;
  text-shadow: 1px 4px 4px black;
  /*x y r c */
}

button:hover{
  cursor: grab;
}

#titleL {
  font-family: "Allerta", sans-serif;
  font-size: 64px;
  font-weight: 400;
  font-style: normal;
  color: #f9f9f9;
  margin-top: 0px;
  margin-bottom: 0;
  padding-top: 0px;
  text-shadow: 1px 4px 4px black;
  /*x y r c */
}

p {
  font-family: "Allerta", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #f9f9f9;
  text-shadow: 1px 2px 2px black;
  /*x y r c */
}

#paragraphQ {
  text-align: center;
  padding-top: 120px;
}

#firstLeg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* abstand zwischen buttons */
}

.yesNo {
  width: 240px;
  height: 45px;
  border-radius: 7px;
  border: transparent;
  font-family: "Allerta", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000000;

  margin-bottom: 10px;
  box-shadow: 1px 2px 2px black;
}

.leaderboard {
  width: 110px;
  height: 30px;
  border-radius: 17px;
  border: transparent;
  font-family: "Allerta", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  background-color:#e1e1e1;;
  
  
  color: #000000;

  margin-top: 70px;
  box-shadow: 1px 2px 2px black;
}




/*-------------------------- first time user -> yes ---------------------------*/

#newUser {
  /*div für neue user informationen*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

#newUser p {
  text-align: left;
  width: 240px;
  margin-bottom: 4px;
}

.paragraphP {
  font-size: 37px;
  margin-top: 120px;
  margin-bottom: 50px !important;
  text-align: center !important;

}

input {
  width: 240px;
  height: 45px;
  border-radius: 7px;
  border: transparent;
  box-shadow: 1px 2px 2px black;
  font-family: "Allerta", sans-serif;
  font-size: 13px;
  color: #000000;
  padding-left: 10px;


}

#nextBack {
  display: flex;
  flex-direction: row;
  margin-top: 300px;
  gap: 95px;
}

.nextBack {
  width: 80px;
  height: 30px;
  border-radius: 23px;
  border: transparent;
  font-family: "Allerta", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  background-color: #f1f1f1;
  box-shadow: 1px 2px 2px black;
}

.nextBack:hover {
  cursor: grab;
}


/*-------------------------- first time user -> no ---------------------------*/

.topBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#OldUser p {
  text-align: left;
  width: 240px;
  margin-bottom: 4px;
}


/*-------------------------- Registration success ---------------------------*/

#confScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#confScreen p {
  text-align: center;
  width: 270px;
  margin-bottom: 4px;
}

#confScreen button {
  margin-top: 360px;
}

#bigText {
  margin-bottom: 35px !important;
}


/*-------------------------- Leaderboard ---------------------------*/
#leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 800px; 
}

#leaderboard p {
  margin-top: 55px;
}

#leaderboardWhitePart {
  background-color: white;
  margin-top: 10px;
  border-radius: 10px 10px 0 0;
  width: 402px;
  ;
}

#backButton {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  filter: brightness(0) invert(1);
}

#backButton:hover{
  cursor: grab;
filter: brightness(0) invert(0.9); 
}

ul {
  list-style-type: none;
  padding: 0;
}

#homebutton {
  background-color: #A79D7A;
  width: 402px;
  padding-top: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0px -5px 6px rgba(0, 0, 0, 0.3);
  margin-top: auto; 
}

.listView {
    font-family: "Allerta", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  margin: 20px;
  margin-bottom: 50px;
}

#homebutton img {
  padding-top: 3px;
}

li {
  padding: 8px;
  margin: 62px 0;
  background-color: #f9f9f9;
  border-radius: 4px;
}
